<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!----======== CSS ======== -->
  <link rel="stylesheet" href="static\acc_home.css">

  <!----===== Boxicons CSS ===== -->
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

  <title>accountant Home</title>
</head>

<body>

  <nav class="sidebar close">
    <header>
      <div class="image-text">
        <span class="image">
          <img src="static\imags\accountant.jpeg" alt="Payal Lakhotiya">
        </span>

        <div class="text logo-text">
          <span class="name">Payal</span>
          <span class="profession">Lakhotia</span>
        </div>
      </div>

      <i class='bx bx-chevron-right toggle'></i>
    </header>

    <div class="menu-bar">
      <div class="menu">

        <ul class="menu-links">
          <li class="nav-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Search Students">
            <a href="search">
              <i class='bx bx-search icon'></i>
              <span class="text nav-text">Students</span>
            </a>
          </li>

          <li class="nav-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Student Registration">
            <a href="st_reg">            
              <i class='bx bx-user icon'></i>
              <span class="text nav-text">Registration</span>
            </a>
          </li>

          <li class="nav-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Show Students">
            <a href="show_student">
              <i class='bx bx-group icon'></i>
              <span class="text nav-text">All Students</span>
            </a>
          </li>

          

          <li class="nav-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Contact To Admin">
            <a href="contact">
              <i class='bx bxs-contact icon'></i>
              
              <span class="text nav-text">Contact Us</span>
            </a>
          </li>

        </ul>
      </div>

      <div class="bottom-content">
        <li class="logout" data-bs-toggle="tooltip" data-bs-placement="top" title="logout">
          <a href="/">
            <i class='bx bx-log-out icon' ></i>
            <span class="text nav-text">Logout</span>
          </a>
        </li>

       

      </div>
    </div>

  </nav>


  <section class="home">
    <div class="text">Welcome Accountant
    </div>
  </section>


  <script src="static\script.js"></script>

</body>

</html>