<h1>Edit Student Details</h1>

{% if kota %}

<form method="post" action="edit_student1">
    <p>Registration No.<input type="text" name="T1" value="{{kota[0]}}"/></p>
    <p>Name<input type="text" name="T2" value="{{kota[1]}}"/></p>
    <p>Address<input type="text" name="T3" value="{{kota[2]}}"/></p>
    <p>Contact<input type="text" name="T4" value="{{kota[3]}}"/></p>
    <p>Email<input type="text" name="T5" value="{{kota[4]}}"/></p>
    <p>File<input type="file" name="F1" value="{{kota[5]}}"/></p>
    <p><input type="submit" name="B1" value="Edit"/></p>
</form>

<h3>
    <a href="show_student">Back</a>
</h3>

{% elif msg %}
  <h3>{{msg}}</h3>
{% endif %}