<html>

<head>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static\bootstrap.css">
    <script src="static\jquery-3.4.1.min.js"></script>

    <script src="static\bootstrap.js"></script>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
   
    <style>
      h1 {text-align: center;}
  </style>

    <title>Accountant Home</title>
</head>
<body>

    <!--Nav Bar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">{{name}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            
    
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Courses
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">C Programming</a>
                <a class="dropdown-item" href="#">DSA</a>
                <a class="dropdown-item" href="#">Python</a>
                
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact">Contact Us</a>
            </li>
    
    
          </ul>
          
        </div>
          <div class="mx-2">
            <a class="btn btn-danger" href="logout" role="button"><svg xmlns="http://www.w3.org/2000/svg" width="20"
                height="20" fill="currentColor" class="bi bi-door-closed-fill" viewBox="0 0 16 16">
                <path
                  d="M12 1a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2a1 1 0 0 1 1-1h8zm-2 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
              </svg>
                Logout</a>
          </div>
        </div>
      </nav>



    <h1>Accountant Home-{{name}}</h1>

    {% if photo=='no' %}

    <form method="post" action="accountant_home" enctype="multipart/form-data">
        File<input type="file" name="F1" />
        <input type="submit" name="B1" value="UPLOAD" />
    </form>

    {% if result %}
    <h3>{{result}}</h3>
    {% endif %}

    {% else %}
    <img src="../static/photos/{{photo}}" width="150" height="200" />
    <p><a href="accountant_ch_photo">Change Photo</a></p>

    {% endif %}


    <p><a href="st_reg">Student Registration</a></p>
    <p><a href="show_student">Show Student</a></p><br>

    <p><a href="st_course">Student Course</a></p>
    <p><a href="show_course">Show Course</a></p><br>


    <p><a href="st_fee">Students Fee</a></p>
    <p><a href="show_fee">Show Fee</a></p>


    <p><a href="search">Search</a></p>




    <p><a href="login"><b>Logout</b></a> </p>
</body>

</html>